<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>レビュー登録確認 | シェアードショップ</title>
<meta charset="UTF-8">
</head>
<body class="user">
	<h2 class="title">レビュー登録確認</h2>
	<div class="image">
		<span th:if="${item.image != null}"> <img
			th:src="@{/img/{image}(image=${item.image})}"></img>
		</span> <span th:if="${item.image == null}"> <img
			th:src="@{/img/common/no_image.jpg}"></img>
		</span>
		<span th:text="${item.name}"></span>
	</div>
	<hr>
	
	<p class="check_message">以下の内容で登録します。</p>
		<div class="user_info_form_area">
			<ul class="input_list">
				<li>
					<span class="input_title">評価値</span>
					<span class="input_value" th:text="'☆' + ${reviewForm.evaluation}"></span>
				</li>
				<li>
					<span class="input_title">ニックネーム</span>
					<span class="input_value" th:text="${reviewForm.nickname}"></span>
				</li>
				<li>
					<span class="input_title">タイトル</span>
					<span class="input_value" th:text="${reviewForm.title}"></span>
				</li>
				<li>
					<span class="input_title">本文</span>
					<span class="input_value" th:text="${reviewForm.reviewText}"></span>
				</li>
				
				<form th:action="@{/review/regist/complete}" method="post" class="user_info_form">
				<input type="hidden" name="evaluation" th:value="${reviewForm.evaluation}" />
				<input type="hidden" name="nickname" th:value="${reviewForm.nickname}" />
				<input type="hidden" name="title" th:value="${reviewForm.title}" />
				<input type="hidden" name="reviewText" th:value="${reviewForm.reviewText}" />
				<input type="hidden" name="itemId" th:value="${item.id}" />
				<input type="submit" value="登録" class="send_button" />
				</form>
				
				<form th:action="@{/item/regist/input/} + ${item.id}" method="post" class="user_info_form">
				<input type="hidden" name="evaluation" th:value="${reviewForm.evaluation}" />
				<input type="hidden" name="nickname" th:value="${reviewForm.nickname}" />
				<input type="hidden" name="title" th:value="${reviewForm.title}" />
				<input type="hidden" name="reviewText" th:value="${reviewForm.reviewText}" />
			    <input type="submit" value="戻る"  class="back_button" />
				</form>
			</ul>
		</div>

</body>
</html>