<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>買い物かご | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body>

		<h2 class="title">買い物かご</h2>
		<div th:if="${#lists.isEmpty(session.basketBeanList)}">
			<p th:text="#{itemList.none}"></p>
		</div>
		<table th:if="!${#lists.isEmpty(session.basketBeanList)}">
			<tr>
				<th>商品名</th>
				<th>stock</th>
				<th>数</th>
			</tr>
			<!--/* 商品情報 */-->
			<tr th:each="basketBean: ${session.basketBeanList}">
				<td th:text="${basketBean.name}"></td>
				<td th:text="${basketBean.stock}"></td>
				<td th:text="${basketBean.orderNum}"></td>
			</tr>
		</table>
</body>
</html>