<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">
<head>
<title>レビュー一覧 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="order_list">
	<h2 class="title">レビュー</h2>
	<div class="item_information">
		<span th:if="${item.image != null}">
			<img th:src="@{/img/{image}(image=${item.image})}"></img>
		</span>
		<span th:if="${item.image == null}">
			<img th:src="@{/img/common/no_image.jpg}"></img>
		</span>
		<span th:text="${item.name}"></span>
	</div>
	<div th:if="${#lists.isEmpty(reviews)}">
		<p th:text="#{reviews.none}"></p>
	</div>
	<div class="list" th:if="!${#lists.isEmpty(reviews)}">
		<div class="review_infomation" th:each="review: ${reviews}">
			<p th:text="${review.nickname}"></p>
			<span th:text="${'評価値:' + review.evaluation}"></span>
			<span th:text="${review.title}"></span>
			<p th:text="${review.insertDate}"></p>
			<div class="review_text" th:text="${review.reviewText}"></div>
			<div class="operation">
				<form th:action="@{/review/delete/check/admin}" class="delete_button_area" method="POST">
					<input type="hidden" name="id" th:value="${review.id}" />
					<input type="submit" value="削除" />
				</form>
				<form th:action="@{/review/permission_switching/admin/{id}(id=${item.id})}" class="permission_button_area" method="POST">
					<input type="hidden" name="reviewId" th:value="${review.id}" />
					<input type="submit" value="表示切替" onClick="return confirmation();" />
				</form>
				<span th:if="${review.permissionFlag == 0}" th:text="非表示"></span>
				<span th:if="${review.permissionFlag == 1}" th:text="表示中"></span>
			</div>
		</div>
	</div>
	
	<div class="review_button_area">
		<form th:action="@{/item/detail/admin/{id}(id=${item.id})}">
			<input type="submit" value="戻る"  class="back_button" />
		</form>
	</div>
</body>
</html>