<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>商品一覧 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user item_list">

		<h2 class="title">商品一覧</h2>
		
		<div class="sorted_by" th:if="!${sortType == '2'}" th:unless="${#lists.isEmpty(items)}">
			<span>
				新着順
			</span>
			<span><a href="/shared_shop/item/list/2">
				売れ筋順
			</a></span>
		</div>
		<div class="sorted_by" th:if="!${sortType != '2'}" th:unless="${#lists.isEmpty(items)}">
			<span><a href="/shared_shop/item/list/1">
				新着順
			</a></span>
			<span>
				売れ筋順
			</span>
		</div>

		<div th:if="${#lists.isEmpty(items)}">
			<p th:text="#{itemList.none}"></p>
		</div>
		<table class="list_table item_detail" th:if="!${#lists.isEmpty(items)}">
			<tr>
				<th>商品画像</th>
				<th>商品名</th>
				<th>価格</th>
				<th>カテゴリ</th>
			</tr>
			<!--/* 商品情報 */-->
			<tr th:each="item, st: ${items}">
				<td class="image">
					<span th:if="${item.image != null}">
						<img th:src="@{/img/{image}(image=${item.image})}"></img>
					</span>
					<span th:if="${item.image == null}">
						<img th:src="@{/img/common/no_image.jpg}"></img>
					</span>
				</td>
				<td><a th:href="@{/item/detail/{id}(id=${item.id})}"
					th:text="${item.name}"></a></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.category.name}"></td>
				<td>
					<th:block th:if="${session.user != null}">
						<th:block th:if="${favorites.get(st.index).itemId == item.id}">
							<form th:action="@{/item/favorite}" method="post" class="fav_form">
								<button type="submit" th:id="${item.id}" th:value="${favorites.get(st.index).isFav}">☆</button>
							</form>
						</th:block>
						<th:block th:unless="${favorites.get(st.index).itemId == item.id}">
							<form th:action="@{/item/favorite}" method="post" class="fav_form">
								<button type="submit" th:id="${item.id}" th:value="0">☆</button>
							</form>
						</th:block>
					</th:block>
					<th:block th:if="${session.user == null}">
						<form th:action="@{/login}">
							<input type="submit" value="☆">
						</form>
					</th:block>
				</td>
			</tr>
		</table>
</body>
</html>