<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>トップ | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user index">
	<div class="section">
		<h2 class="title">売れ筋商品</h2>
		<div class="item" th:if="!${#lists.isEmpty(items)}"
			th:each="item: ${items}">
			<div class="item_name" th:text="${item.name}"></div>
			<a th:href="@{/item/detail/{id}(id=${item.id})}"> <span
				th:if="${item.image != null}"> <img
					th:src="@{/img/{image}(image=${item.image})}"></img>
			</span> <span th:if="${item.image == null}"> <img
					th:src="@{/img/common/no_image.jpg}"></img>
			</span>
			</a>
		</div>
	</div>

	<div class="section">
		<h2 class="title title2">おすすめ商品</h2>
		<div class="itemOsusume" th:if="!${#lists.isEmpty(OItems)}"
			th:each="OItem: ${OItems}">
			<div class="item_name" th:text="${OItem.name}"></div>
			<a th:href="@{/item/detail/{id}(id=${OItem.id})}"> <span
				th:if="${OItem.image != null}"> <img
					th:src="@{/img/{image}(image=${OItem.image})}"></img>
			</span> <span th:if="${OItem.image == null}"> <img
					th:src="@{/img/common/no_image.jpg}"></img>
			</span>
			</a>
		</div>
	</div>
</body>
</html>