<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>商品詳細 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user item_detail_admin">
		<h2 class="title">商品詳細</h2>
		<div class="item_info_form_area">
			<div class="item_detail_area">
				<div class="item_image_area">
					<span th:if="${item.image != null}">
						<img th:src="@{/img/{image}(image=${item.image})}"></img>
					</span>
					<span th:if="${item.image == null}">
						<img th:src="@{/img/common/no_image.jpg}"></img>
					</span>
				</div>
				<dl class="item_detail_list">
					<dt>商品名：</dt>
					<dd th:text="${item.name}"></dd>
					<dt>価格：</dt>
					<dd th:text="${item.price}"></dd>
					<dt>在庫：</dt>
					<dd th:text="${item.stock}"></dd>
					<dt>カテゴリ：</dt>
					<dd th:text="${item.category.name}"></dd>
					<dt>説明：</dt>
					<dd th:text="${item.description}"></dd>
				</dl>
			</div>
			
			<p>レビュー</p>
			<div>
				<span th:text="'平均 ' + ${reviewAVG} + ' /5.0'"></span>
				<a th:href="@{/review/list/{id}(id=${item.id})}" th:text="レビュー一覧へ"></a>
			</div>
			
			<div class="detail_button_area">
				<th:block th:if="${item.stock != 0}">
					<form th:action="@{/basket/add}" method="post">
						<input type="hidden" th:value="${item.id}" name="id">
						<input type="submit" value="買い物かごに入れる" class="basket_button">
					</form>
				</th:block>
				
				<th:block th:if="${session.user != null}">
					<th:block th:if="${favorite != null}">
						<form th:action="@{/item/favorite}" method="post" class="fav_form">
							<button type="submit" th:id="${item.id}" th:value="${favorite.isFav}">☆</button>
						</form>
					</th:block>
					<th:block th:unless="${favorite != null}">
						<form th:action="@{/item/favorite}" method="post" class="fav_form">
							<button type="submit" th:id="${item.id}" th:value="0">☆</button>
						</form>
					</th:block>
				</th:block>
				<th:block th:if="${session.user == null}">
					<form th:action="@{/login}">
						<input type="submit" value="☆">
					</form>
				</th:block>
				
				<form th:action="@{/item/list/1}">
				    <input type="submit" value="戻る"  class="back_button" />
				</form>
			</div>
			
		</div>

</body>
</html>